@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gameboy-back-color: rgb(216, 89, 89);
    --gameboy-border: rgb(21, 21, 21);
    --gameboy-screen-border: rgb(66, 29, 29);
    --gameboy-screen: rgb(82, 157, 82);
    --gameboy-cross-circle: rgb(164, 38, 38);
    --gameboy-cross: rgb(118, 28, 28);
    --gameboy-buttons: rgb(70, 3, 3);
    --gameboy-setting-buttons: rgb(98, 98, 98);
    --text-color: rgb(224, 224, 224);
}

body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(178, 113, 190, 0.215);
    overflow-x: hidden;
}

/* remove styles from a tags */
a {
    text-decoration: none;
    color: inherit;
}

.grid-wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: minmax(100px, 100px) minmax(200px, 3000px) minmax(100px, 100px);
    transition: grid-template-columns 1s ease-in-out;
    height: 100vh;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.left {
    background-color: rgb(97, 53, 53);
    opacity: 0.5;
}

.middle {
    background-color: rgb(166, 182, 239);
}

.right {
    background-color: rgb(107, 107, 79);
    opacity: 0.5;
}

.item>.gameboy-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameboy {
    background-color: var(--gameboy-back-color);
    width: 420px;
    height: 650px;
    margin: auto;
    border: 6px solid var(--gameboy-border);
}

/* GAMEBOY 1 */
.gb1 {
    border-radius: 30px 30px 80px 30px;
    /* shadow on the left and right */
    /* https: //cssgenerator.org/box-shadow-css-generator.html */
    box-shadow: -12px 0px 1px -1px rgba(115, 29, 29, 0.71) inset, 14px 1px 1px -1px rgba(217, 116, 116, 0.71) inset;
    -webkit-box-shadow: -12px 0px 1px -1px rgba(115, 29, 29, 0.71) inset, 14px 1px 1px -1px rgba(217, 116, 116, 0.71) inset;
    -moz-box-shadow: -12px 0px 1px -1px rgba(115, 29, 29, 0.71) inset, 14px 1px 1px -1px rgba(217, 116, 116, 0.71) inset;
    position: relative;
}

.top-line {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-bottom: 5px solid var(--gameboy-border);
    border-radius: 30px 30px 0px 0px;

}

.gb1>.top-line {
    /* top shadow */
    box-shadow: 0px 8px 1px -1px rgba(79, 15, 15, 0.71) inset;
    -webkit-box-shadow: 0px 8px 1px -1px rgba(79, 15, 15, 0.71) inset;
    -moz-box-shadow: 0px 8px 1px -1px rgba(79, 15, 15, 0.71) inset;
}

.edge-lines {
    width: 75%;
    height: 100%;
    border-left: 5px solid var(--gameboy-border);
    border-right: 5px solid var(--gameboy-border);
}

.gb1 .edge-lines>span {
    font-size: 12px;
    text-shadow: 3px 2px 3px rgb(24, 24, 24);
    color: #ffffff;
    margin-left: 5px;
    padding: 5px;
    opacity: 0.5;
}


.power-arrow>span {
    position: relative;
    top: 2px;
}

.power-arrow:hover {
    cursor: default;
}

.switch {
    position: absolute;
    top: -15px;
    left: 22%;
}

.switch:hover {
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.power {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 10px;

}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 5px;
    background-color: grey;
    border: 5px solid var(--gameboy-border);
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    transition: transform .4s ease-in-out;
}

input:checked+.slider:before {
    transform: translateX(35px);
}

/* SCREEN */
.screen-border {
    width: 300px;
    height: 250px;
    margin: 20px auto;
    padding: 30px;
    display: flex;
    align-items: center;
}

.gb1>.screen-border {
    border-radius: 20px 20px 50px 20px;
    background-color: var(--gameboy-screen-border);
    border: 4px solid var(--gameboy-border);
    position: relative;
}

.screen {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0px 0px 20px 0px;
    background-color: var(--gameboy-screen);
    border: 4px solid var(--gameboy-border);
    overflow: hidden;
    box-shadow: -10px 1px 1px -1px rgba(31, 92, 22, 0.71) inset, 0px 10px 1px -1px rgba(31, 92, 22, 0.71) inset;
    ;
    -webkit-box-shadow: -10px 1px 1px -1px rgba(31, 92, 22, 0.71) inset, 0px 10px 1px -1px rgba(31, 92, 22, 0.71) inset;
    ;
    -moz-box-shadow: -10px 1px 1px -1px rgba(31, 92, 22, 0.71) inset, 0px 10px 1px -1px rgba(31, 92, 22, 0.71) inset;
    ;
    z-index: 0;
}

.screen>video {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
}

/* screen glare */
.gb1 .screen:before {
    content: "";
    position: absolute;
    background-color: rgba(169, 201, 170, 0.427);
    width: 40px;
    height: 200%;
    /* opacity: 0.8; */
    /* border-radius: 20px; */
    transform: rotate(30deg);
    top: -40%;
    /* top: 15%; */
    /* left: 5%; */
}

.gb1 .screen:after {
    content: "";
    position: absolute;
    background-color: rgba(169, 201, 170, 0.427);
    width: 60px;
    height: 200%;
    /* border-radius: 20px; */
    top: -48%;
    transform: rotate(30deg);
    left: 70%;
}

.gb1 .screen-border:before {
    content: "";
    width: 80px;
    height: 3px;
    background-color: rgb(90, 17, 17);
    position: absolute;
    top: 5%;
    left: 5%;
}

.gb1 .screen-border:after {
    /* margin-left: -20px; */
    content: "DOT MATRIX WITH STEREO SOUND";
    color: var(--text-color);
    /* text-align: center; */
    font-size: 6px;
    position: absolute;
    top: 5%;
    right: 5%;
}

.battery {
    margin-left: -25px;
    margin-right: 3px;
}

.battery .led {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto;
    background-color: red;
    border: 2px solid black;
}

.battery>span {
    font-size: 5px;
    color: var(--text-color);
}

.controls {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.gb1 .buttons-move,
.gb1 .buttons-play {
    background: linear-gradient(var(--gameboy-back-color), var(--gameboy-cross-circle));
    border: 5px solid var(--gameboy-border);
}

.gb1 .buttons-move {
    width: 120px;
    height: 120px;
    padding: 20px;
    border-radius: 50%;
    margin: 40px;
    position: relative;

}

.gb1 .buttons-play {
    height: 70px;
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 65px 30px 0 0;
    transform: rotate(-40deg);
}

/* DIRECTIONAL BUTTONS */
.cross {
    width: 25%;
    height: 25%;
    /* border: 8px solid var(--gameboy-border); */
    background-color: var(--gameboy-cross);
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.368);
    /* z-index: 2; */
}

.cross:hover {
    cursor: pointer;
}

.direction-left {
    left: 25%;
    border-right: none;
    border-radius: 5px 0 0 5px;
    border-top: 2px solid rgb(225, 141, 141);
    /* background-size: 200% auto;
    transition: background-position 0.5s ease-in-out;
    background-image: linear-gradient(to right, var(--gameboy-cross) 0%, #4a1113 51%, #6e1310 100%); */
    margin-left: 2px;
}

.direction-up {
    top: 25%;
    border-top: 2px solid rgb(225, 141, 141);
    /* background-size: 200% auto;
    transition: background-position 0.5s ease-in-out;
    background-image: linear-gradient(to right, var(--gameboy-cross) 0%, #4a1113 51%, var(--gameboy-cross) 100%); */
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.direction-right {
    left: 75%;
    /* border-top-color: rgb(141, 26, 26); */
    border-top: 2px solid rgb(225, 141, 141);
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.center {
    border: none;
    /* border-radius: 25%; */
    z-index: 0;
}

.center>div {
    /* border: 1px solid var(--gameboy-cross); */
    background: conic-gradient(transparent 0 30%, rgba(255, 255, 255, 0.3) 40% 60%, transparent 70%);
    border-radius: 50%;
    width: 100%;
    height: 100%;

}

.direction-down {
    top: 75%;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.direction-up:active,
.direction-right:active,
.direction-left:active,
.direction-down:active {
    border-color: var(--gameboy-cross);
    box-shadow: none;
}

/* PLAY BUTTONS */
.gb1 .a,
.gb1 .b {
    width: 42%;
    height: 125%;
    /* background-color: var(--gameboy-buttons); */
    background-size: 200% auto;
    transition: background-position 0.5s ease-in-out;
    background-image: linear-gradient(to right, #e74f4a 0%, #b31217 51%, #e52d27 100%);
    box-shadow: -2px 3px 5px rgba(0, 0, 0, 1), -1px 2px 5px rgba(200, 197, 197, 0.5) inset;
    border-radius: 50%;
    position: relative;
    border: 3px solid var(--gameboy-border);
}

.gb1 .a:hover,
.gb1 .b:hover {
    background-position: right center;
    cursor: pointer;
}

.gb1 .a:active,
.gb1 .b:active {
    box-shadow: none;
}

.gb1 .a:after {
    content: "A";
}

.gb1 .b:after {
    content: "B";
}

.gb1 .a:after,
.gb1 .b:after {
    position: absolute;
    bottom: -90%;
    left: 35%;
}

/* SELECT AND START BUTTONS */
.buttons-setting {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 80px;
    margin: -20px auto;
}

.select,
.start {
    width: 25%;
    height: 25%;
    /* background-color: grey; */
    background-image: linear-gradient(to right, #304352 0%, #d7d2cc 51%, #304352 100%);
    transition: background-position 0.5s ease-in-out;
    background-size: 200% auto;
    border: 4px solid var(--gameboy-border);
    border-radius: 20px;
    transform: rotate(-40deg);
    box-shadow:
        -8px -2px 5px rgba(0, 0, 0, 0.4) inset,
        5px 7px 5px rgba(255, 255, 255, 0.5) inset,
        0px 2px 5px rgba(0, 0, 0, 0.8);
}

.select:hover,
.start:hover {
    background-position: right center;
    cursor: pointer;
}

.select:after,
.start:after {
    font-size: 6px;
    position: absolute;
    bottom: -130%;
    left: 5%;
}

.select:after {
    content: "select";
}

.start:after {
    content: "start";
}

.select:active,
.start:active {
    box-shadow: none;
}


/* GAMEBOY 2 */
.gb2 {
    --gameboy-back-color: rgb(106, 176, 242);
    background-color: var(--gameboy-back-color);
    border-radius: 30px 30px 80px 80px;
    box-shadow: -12px 0px 1px -1px rgba(17, 55, 91, 0.71) inset, 14px 1px 1px -1px rgba(134, 194, 251, 0.71) inset;
    -webkit-box-shadow: -12px 0px 1px -1px rgba(17, 55, 91, 0.71) inset, 14px 1px 1px -1px rgba(134, 194, 251, 0.71) inset;
    -moz-box-shadow: -12px 0px 1px -1px rgba(17, 55, 91, 0.71) inset, 14px 1px 1px -1px rgba(134, 194, 251, 0.71) inset;
}

.gb2>.screen-border {
    --gameboy-screen-border: rgb(16, 16, 47);
    border-radius: 20px;
    margin-top: 40px;
    background-color: var(--gameboy-screen-border);
    border: 4px solid var(--gameboy-border);
}

.gb2 .screen:before {
    content: "";
    position: absolute;
    background-color: white;
    width: 15px;
    height: 50px;
    opacity: 0.8;
    border-radius: 20px;
    top: 15%;
    left: 5%;
}

.gb2 .screen:after {
    content: "";
    position: absolute;
    background-color: white;
    width: 15px;
    height: 25px;
    opacity: 0.8;
    border-radius: 20px;
    top: 48%;
    left: 5%;
}

.gb2 .buttons-move {
    width: 120px;
    height: 120px;
    padding: 20px;
    border-radius: 50%;
    margin: 40px;
    position: relative;

}

/* DIRECTIONAL BUTTONS */
.gb2 .cross {
    --gameboy-cross: rgb(204, 204, 39);
}

.gb2 .direction-left {
    border-top: 2px solid rgb(233, 233, 45);
}

.gb2 .direction-left:before {
    content: "◀";
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 6%;
    left: 15%;
}

.gb2 .direction-up {
    border-top: 2px solid rgb(233, 233, 45);
}

.gb2 .direction-up:before {
    content: "▲";
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 6%;
    left: 22%;
}

.gb2 .direction-right {
    border-top: 2px solid rgb(233, 233, 45);
}

.gb2 .direction-right:before {
    content: "▶";
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 6%;
    right: 22%;
}

.gb2 .direction-down:before {
    content: "▼";
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 10%;
    left: 22%;
}

/* PLAY BUTTONS */
.gb2 .buttons-play {
    height: 70px;
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 65px 30px 0 0;
    transform: rotate(-40deg);
}

.gb2 .a,
.gb2 .b {
    width: 48%;
    height: 110%;
    background-size: 200% auto;
    transition: background-position 0.5s ease-in-out;
    background-image: linear-gradient(to right, #4ae761 0%, #12b32a 51%, #27e54d 100%);
    box-shadow: -2px 3px 5px rgba(0, 0, 0, 1), -1px 2px 5px rgba(200, 197, 197, 0.5) inset;
    border-radius: 50%;
    position: relative;
    border: 4px solid var(--gameboy-border);
}

.gb2 .b {
    background-image: linear-gradient(to right, #e7744a 0%, #b33512 51%, #e55627 100%);
}

.gb2 .a:hover,
.gb2 .b:hover {
    background-position: right center;
    cursor: pointer;
}

.gb2 .a:active,
.gb2 .b:active {
    box-shadow: none;
}

.gb2 .a:after {
    content: "A";
}

.gb2 .b:after {
    content: "B";
}

.gb2 .a:after,
.gb2 .b:after {
    position: absolute;
    transform: rotate(40deg) translate(-50%, -50%);
    top: 50%;
    left: 49%;
    right: 20%;
    bottom: 35%;
}

/* SELECT AND START BUTTONS */
.gb2 .buttons-setting {
    gap: 30px;
}

.gb2 .select,
.gb2 .start {
    background-image: linear-gradient(to right, #303b45 0%, #3c3c3b 51%, #0a0a0a 100%);
    transform: rotate(0deg);
}

.gb2 .select:after {
    content: "SELECT";
    left: 10%;
    bottom: -150%;
}

.gb2 .start:after {
    content: "START";
    left: 15%;
    bottom: -150%;
}


@media only screen and (max-width: 600px) {
    body {
        overflow: auto;
    }

    .grid-wrapper {
        /* display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(100px, 400px) minmax(100px, 400px) minmax(100px, 400px);
        transition: grid-template-rows 1s;
        height: 100vh; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* gap: 20px; */
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .gameboy-container {
        flex-direction: column;

    }
}